<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Clase</th>
        <th scope="col">Aprendiz</th>
        <th scope="col">Instructor</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Asistencia</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
